* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #060608;
    overflow-x: hidden;
}

li {
    text-align: left;
}

h2,
p {
    color: #fad3cf;
    text-shadow: 2px 2px #000000;
    margin-top: 10px;
    padding-top: 50px;
}

#right-wheel,
#left-wheel {
    animation: wheel 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

#man-bike {
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#hat {
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes bike {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}

@keyframes hat {
    from {
        transform: translateY(0%) rotateZ(0deg);
    }
    to {
        transform: translateY(40%) rotateZ(20deg);
    }
}

#right-leg {
    animation: leg 2s infinite linear alternate;
    transform-origin: top;
    transform-box: fill-box;
}

#left-leg {
    animation: leg 4s infinite linear alternate;
    transform-origin: top;
    transform-box: fill-box;
}

#upper-body {
    animation: body 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#ball {
    animation: ball 1s ease-in-out infinite alternate;
    transform-origin: top;
}

#head {
    animation: head 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes leg {
    from {
        transform: rotateX(12deg);
    }
    to {
        transform: rotateX(30deg);
    }
}

@keyframes body {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}

@keyframes head {
    from {
        transform: translateY(0%) rotateZ(0deg);
    }
    to {
        transform: translateY(30%) rotateZ(20deg);
    }
}

@keyframes ball {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(35deg);
    }
}